.nav {
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 999;
  transition: all ease-in 0.2s;
  background-image: linear-gradient(
    180deg,
    #202020d3,
    rgba(37, 37, 37, 0.397),
    transparent
  );
}

.nav_black {
  background-color: #141414;
}

.nav_content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.left {
  display: flex;
  gap: 50px;
  align-items: center;
}

.menu-items > ul {
  display: flex;
  gap: 20px;
}

.menu-items > ul > li {
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  list-style-type: none;
  transition: ease-in 0.2s;
}

.menu-items > ul > li:hover {
  color: rgba(255, 255, 255, 0.573);
}

.right {
  color: white;
  display: flex;
  align-items: center;
  gap: 30px;
}

.right > img {
  cursor: pointer;
  object-fit: contain;
}

/* SearchInput.css */
.custom-search-container {
  text-align: center;
  position: relative;
}

.visible-input {
  /* width: 100%; */
  padding: 10px 0px 10px 40px;
  border: none;
  font-size: 16px;
  background-color: rgb(0, 0, 0, 0.5);
  color: #fff;
}

.search-icon {
  position: absolute;
  top: 50%;
  /* left: 10px; */
  transform: translateY(-50%);
  cursor: pointer;
}

.left {
  left: 10px;
}

.fa-search {
  color: white;
  font-size: 20px;
}
